## PAIR PROGRAMMING EDA I
---

In [24]:
import pandas as pd

Para todos los ejercicios de pair programming de EDA I y II usaremos el dataframe generado en el ejercicio de Pandas VII.

**Hipótesis**

Las hipótesis que os planteamos son:

- ¿Es Australia el sitio más peligroso y letal para estar relajada en la playa?
- ¿Hay diferencias entre los países en los ataques a hombres y mujeres?
- ¿Cuáles son las edades que más sufren ataques?
- Independientemente de la edad, ¿sufren los hombres más ataques que las mujeres?
- ¿En qué mes ocurren más ataques?
- ¿Cuál es la relación entre la especie y el tipo de ataque (si es fatal o no)?
- ¿Cómo han evolucionado los ataques a lo largo del tiempo?_

**Objetivos**

Los objetivos de hoy son:

**EJERCICIO 1**

Haced una exploración inicial del dataframe:

- ¿Cuál es el número de filas y columnas?

In [25]:
df= pd.read_csv("../files/attacks6.csv", index_col= 0)

In [26]:
df.head(2)# Recordamos como es el DataFrame a utilizar.

,Unnamed: 0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date,mes_ataque,fatal,sexo
0,0,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, all onboard were killed by sharks",1800,NaN,Y,F
1,1,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,Reported May-28-1797,May,Y,NaN

In [27]:
print(f'El número de filas es {df.shape[0]} y de columnas es {df.shape[1]}.')

El número de filas es 1672 y de columnas es 20.

In [28]:
df.columns

Index(['Unnamed: 0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href', 'fatal_(y/n)', 'injury', 'date', 'mes_ataque', 'fatal', 'sexo'],
      dtype='object')

In [29]:
df.drop(["Unnamed: 0"], axis=1, inplace= True) # Vemos que tenemos la columna Unnamed que se ha creado en el guardado del dataset por lo que la eliminamos.

In [30]:
df.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date,mes_ataque,fatal,sexo
0,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, all onboard were killed by sharks",1800,NaN,Y,F
1,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,Reported May-28-1797,May,Y,NaN

---

- ¿Cuál es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos.

In [31]:
df_nulos=round((df.isnull().sum()*100/df.shape[0]), 2).reset_index().T

In [32]:
df_nulos # Porcentajes de nulos por columnas

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
index,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date,mes_ataque,fatal,sexo
0,0.0,0.0,0.0,0.6,2.75,3.05,1.85,0.54,0.84,9.21,9.57,7.54,0.0,5.2,0.48,0.0,8.43,5.8,0.84

---

- ¿Qué tipos de datos hay en cada columna?

In [33]:
df.dtypes

case_number     object
year           float64
type            object
country         object
area            object
location        object
activity        object
name            object
sex_            object
age             object
time            object
species_        object
href            object
fatal_(y/n)     object
injury          object
date            object
mes_ataque      object
fatal           object
sexo            object
dtype: object

    Observamos que la mayoria de las columnas son de tipo 'object'

---

- Extraed la información general del dataframe.

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   float64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   area         1626 non-null   object
 5   location     1621 non-null   object
 6   activity     1641 non-null   object
 7   name         1663 non-null   object
 8   sex_         1658 non-null   object
 9   age          1518 non-null   object
 10  time         1512 non-null   object
 11  species_     1546 non-null   object
 12  href         1672 non-null   object
 13  fatal_(y/n)  1585 non-null   object
 14  injury       1664 non-null   object
 15  date         1672 non-null   object
 16  mes_ataque   1531 non-null   object
 17  fatal        1575 non-null   object
 18  sexo         1658 non-null   object
dtypes: float64(1), object(18)
memory usage: 261.2+ KB

---

**EJERCICIO 2**

Cread dos dataframes nuevos, uno que incluya solo las variables categóricas y otro que incluya solo las variables numéricas.

In [35]:
df_numericas = df.select_dtypes(include = np.number)
df_numericas.head(2)

     year
0  1800.0
1  1797.0

In [36]:
df_categoricas = df.select_dtypes(include = "object")
df_categoricas.head(2)

,case_number,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date,mes_ataque,fatal,sexo
0,1800.00.00,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, all onboard were killed by sharks",1800,NaN,Y,F
1,1797.05.28.R,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,Reported May-28-1797,May,Y,NaN

---

- ¿Cuáles son los principales estádisticos de los dataframes?

In [37]:
df_numericas.describe()# Principales estadisticos de variables numericas.

              year
count  1672.000000
mean   1832.688397
std     528.969901
min       0.000000
25%    1964.000000
50%    1997.000000
75%    2008.000000
max    2018.000000

In [38]:
df_categoricas.describe().T # Principales estadisticos de variables categoricas.

,count,unique,top,freq
case_number,1672,1672,1800.00.00,1
type,1672,6,Unprovoked,1432
country,1662,95,USA,741
area,1626,236,Florida,346
location,1621,1310,"New Smyrna Beach, Volusia County",73
activity,1641,404,Surfing,426
name,1663,1536,male,97
sex_,1658,3,M,1435
age,1518,94,19,70
time,1512,248,11h00,74
species_,1546,856,White shark,76
href,1672,1672,http://sharkattackfile.net/spreadsheets/pdf_di...,1
fatal_(y/n),1585,6,N,1256
injury,1664,1173,FATAL,154
date,1672,1522,No date,6
mes_ataque,1531,21,Aug,162
fatal,1575,2,N,1258
sexo,1658,2,M,1435

---

- Extraed los valores únicos su frecuencia. BONUS presenta los resultados en un dataframe. (Gitbook- ejemplo como debe quedar. Donde variable es cada una de las variables categóricas que tenemos en el dataset y n_unicos es una lista con los nombres de los valores únicos de cada variable).

In [39]:
# Creamos una lista para guardar los valores unicos de cada columna mediante un for loop
n_unique= [] 

for col in df_categoricas:
    
    x = list(df_categoricas[col].unique())
    n_unique.append(x)

In [40]:
#n_unique #Comprobamos que nos genero una lista de valores unicos para cada columna

In [41]:
# Creamos una lista con los nombres de cada fila de nuestra columna Variables.
variable= list(df_categoricas.columns)

In [42]:
# Definimos un diccionario con las keys y los values que necesitamos para nuestro DataFrame
dicc = {'varible': variable, 'n_unique': n_unique}

In [43]:
# Creamos el nuevo DataFrame con los valores unicos de cada columna
valores_unicos = pd.DataFrame(dicc)
valores_unicos

        varible                                           n_unique
0   case_number  [1800.00.00, 1797.05.28.R, 1792.09.12, 1791.00...
1          type  [Unprovoked, Provoked, Boat, Sea Disaster, Inv...
2       country  [SEYCHELLES, nan, ENGLAND, AUSTRALIA, BARBADOS...
3          area  [St. Anne, nan, New South Wales, St Helena, Su...
4      location  [nan, On the Thames River, Port Jackson, Sydne...
5      activity  [a corsair's boat was overturned, Dropped over...
6          name  [nan, child, male, female, an Australian abori...
7          sex_                                   [F, nan, M, lli]
8           age  [nan, young, 14, 19, 20, 15, 21, 27, 36, 25, 6...
9          time  [nan, 22h00, 06h00, Night, 18h00, Morning, Aft...
10     species_  [nan, Tiger shark?, White sharks, Description ...
11         href  [http://sharkattackfile.net/spreadsheets/pdf_d...
12  fatal_(y/n)                  [Y, N, nan, UNKNOWN, M, 2017,  N]
13       injury  [FATAL, all onboard were killed by sharks, FAT...
14         date  [1800, Reported May-28-1797, 12-Sep-1792, 1791...
15   mes_ataque  [nan, May , Sep , Jul , Aug , Dec , Mar , Oct ...
16        fatal                                        [Y, N, nan]
17         sexo                                        [F, nan, M]

---

**Conclusiones**

De qué nos sirven estos números y dataframe? Extraed conclusiones de ellos.
Por ejemplo:

- ¿Hay alguna columna que no tenga sentido su tipo de datos?

    - La columna 'year' debería ser de tipo date en vez de tipo float.
    - La columna 'mes_ataque' es de tipo object y podría ser de tipo date.
    - La columna 'age' deberia ser de tipo interger.

- ¿Hay alguna columna que no tenga sentido su nombre?

    - La columna 'href' podría tener un nombre más intuitivo

- ¿Hay alguna columna que no tenga sentido su contenido?

    - La columna 'sex_' no es clara y tenemos la columna 'sexo' que esta mejor categorizada.
    - La columna 'fatal_(y/n)' es redundante y tenemos la columna 'fatal' mejor categorizada.

- ¿Hay alguna columna que tenga demasiadas categorías o valores que nos pueda hacer difícil trabajar con ella?

    - La columna 'href' tiene un link del cual no podemos obtener informacion para el analisis de los datos, ya que son fotografias.
    - La columna 'date' no tiene un orden logico en cada fila, es decir depende de como cada usuario inserto los datos.