## PAIR PROGRAMMING EDA I
---

Para todos los ejercicios de pair programming de EDA I y II usaremos el dataframe generado en el ejercicio de Pandas VII.

**Hipótesis**

Las hipótesis que os planteamos son:

- ¿Es Australia el sitio más peligroso y letal para estar relajada en la playa?
- ¿Hay diferencias entre los países en los ataques a hombres y mujeres?
- ¿Cuáles son las edades que más sufren ataques?
- Independientemente de la edad, ¿sufren los hombres más ataques que las mujeres?
- ¿En qué mes ocurren más ataques?
- ¿Cuál es la relación entre la especie y el tipo de ataque (si es fatal o no)?
- ¿Cómo han evolucionado los ataques a lo largo del tiempo?_

**Objetivos**

Los objetivos de hoy son:

In [1]:
import pandas as pd

**EJERCICIO 1**

Haced una exploración inicial del dataframe:

- ¿Cuál es el número de filas y columnas?

In [2]:
df= pd.read_csv("../files/attacks6.csv", index_col= 0)

In [3]:
df.head(2)

,Unnamed: 0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date,mes_ataque,fatal,sexo
0,0,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, all onboard were killed by sharks",1800,NaN,Y,F
1,1,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,Reported May-28-1797,May,Y,NaN

In [10]:
print(f'El número de filas y columnas es {df.shape}')

El número de filas y columnas es (1672, 19)

In [5]:
df.columns

Index(['Unnamed: 0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href', 'fatal_(y/n)', 'injury', 'date', 'mes_ataque', 'fatal', 'sexo'],
      dtype='object')

In [7]:
df.drop(["Unnamed: 0"], axis=1, inplace= True)

In [8]:
df.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date,mes_ataque,fatal,sexo
0,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, all onboard were killed by sharks",1800,NaN,Y,F
1,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,Reported May-28-1797,May,Y,NaN

- ¿Cuál es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos.

In [21]:
df_nulos = (df.isnull().sum()*100/ df.shape[0]).reset_index().T

In [22]:
df_nulos.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
index,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date,mes_ataque,fatal,sexo
0,0.0,0.0,0.0,0.598086,2.751196,3.050239,1.854067,0.538278,0.837321,9.210526,9.569378,7.535885,0.0,5.203349,0.478469,0.0,8.433014,5.801435,0.837321

- ¿Qué tipos de datos hay en cada columna?

In [32]:
df.dtypes

case_number     object
year           float64
type            object
country         object
area            object
location        object
activity        object
name            object
sex_            object
age             object
time            object
species_        object
href            object
fatal_(y/n)     object
injury          object
date            object
mes_ataque      object
fatal           object
sexo            object
dtype: object

- Extraed la información general del dataframe.

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   float64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   area         1626 non-null   object
 5   location     1621 non-null   object
 6   activity     1641 non-null   object
 7   name         1663 non-null   object
 8   sex_         1658 non-null   object
 9   age          1518 non-null   object
 10  time         1512 non-null   object
 11  species_     1546 non-null   object
 12  href         1672 non-null   object
 13  fatal_(y/n)  1585 non-null   object
 14  injury       1664 non-null   object
 15  date         1672 non-null   object
 16  mes_ataque   1531 non-null   object
 17  fatal        1575 non-null   object
 18  sexo         1658 non-null   object
dtypes: float64(1), object(18)
memory usage: 261.2+ KB

---

**EJERCICIO 2**

Cread dos dataframes nuevos, uno que incluya solo las variables categóricas y otro que incluya solo las variables numéricas.

- ¿Cuáles son los principales estádisticos de los dataframes?

In [27]:
df_numericas= df.describe()
df_numericas

              year
count  1672.000000
mean   1832.688397
std     528.969901
min       0.000000
25%    1964.000000
50%    1997.000000
75%    2008.000000
max    2018.000000

In [45]:
df_categoricas = df.select_dtypes(include = "object")
df_categoricas.head()

,case_number,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date,mes_ataque,fatal,sexo
0,1800.00.00,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, all onboard were killed by sharks",1800,NaN,Y,F
1,1797.05.28.R,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,Reported May-28-1797,May,Y,NaN
2,1792.09.12,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, PROVOKED INCIDENT",12-Sep-1792,Sep,Y,M
3,1791.00.00,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, ""bitten in two""",1791,NaN,Y,F
4,1788.05.10,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"No injury to occupants, shark bit oar and rudder",10-May-1788,May,N,NaN

In [47]:

df_categoricas.describe(include= 'object').T

,count,unique,top,freq
case_number,1672,1672,1800.00.00,1
type,1672,6,Unprovoked,1432
country,1662,95,USA,741
area,1626,236,Florida,346
location,1621,1310,"New Smyrna Beach, Volusia County",73
activity,1641,404,Surfing,426
name,1663,1536,male,97
sex_,1658,3,M,1435
age,1518,94,19,70
time,1512,248,11h00,74
species_,1546,856,White shark,76
href,1672,1672,http://sharkattackfile.net/spreadsheets/pdf_di...,1
fatal_(y/n),1585,6,N,1256
injury,1664,1173,FATAL,154
date,1672,1522,No date,6
mes_ataque,1531,21,Aug,162
fatal,1575,2,N,1258
sexo,1658,2,M,1435

- Extraed los valores únicos su frecuencia. BONUS presenta los resultados en un dataframe. (Gitbook- ejemplo como debe quedar. Donde variable es cada una de las variables categóricas que tenemos en el dataset y n_unicos es una lista con los nombres de los valores únicos de cada variable).

In [53]:
for col in df_categoricas.columns:
    print("------------------------------------------------------------", "\n")
    print(f"En la columna {col} tenemos los siguientes valores unicos")
    print(pd.DataFrame(df_categoricas[col].value_counts()))
    print("\n", "------------------------------------------------------------", "\n")

------------------------------------------------------------

En la columna case_number tenemos los siguientes valores unicos
              case_number
1800.00.00              1
1990.09.05              1
1992.02.09              1
1992.03.08.a            1
1992.03.08.c            1
...                   ...
2009.05.16.b            1
2009.05.17              1
2009.05.31              1
2009.06.01              1
1868.05.13              1

[1672 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna type tenemos los siguientes valores unicos
              type
Unprovoked    1432
Provoked       115
Invalid         92
Boating         17
Sea Disaster    12
Boat             4

 ------------------------------------------------------------

------------------------------------------------------------

En la columna country tenemos los siguientes valores unicos
              country
USA               741
AUSTRALIA         343
SOUTH AFRICA      234
BAHAMAS            29
NEW ZEALAND        21
...               ...
MALDIVES            1
SWEDEN              1
SRI LANKA           1
THAILAND            1
EL SALVADOR         1

[95 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna area tenemos los siguientes valores unicos
                       area
Florida                 346
California              137
New South Wales         137
Hawaii                  108
Western Cape Province    83
...                     ...
Bora Bora                 1
Exuma Islands             1
Santa Cruz Island         1
Saint-Gilles              1
Hoogly River              1

[236 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna location tenemos los siguientes valores unicos
                                          location
New Smyrna Beach, Volusia County                73
Nahoon                                           7
Daytona Beach, Volusia County                    7
Myrtle Beach, Horry County                       7
Melbourne Beach, Brevard County                  6
...                                            ...
Surf City, Topsail Island, Pender County         1
McKenzie Beach Park in Pahoa, Hawai'i            1
Clarks Beach, Byron Bay                          1
Near Croker Island                               1
Ghat                                             1

[1310 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna activity tenemos los siguientes valores unicos
                                                 activity
Surfing                                               426
Swimming                                              240
Spearfishing                                          105
Fishing                                                56
Wading                                                 53
...                                                   ...
Chumming for white sharks                               1
Scurfing (surfboard being  towed behind a boat)         1
Fishing from a kayak                                    1
Diving in aquarium display tank                         1
Washing horses                                          1

[404 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna name tenemos los siguientes valores unicos
               name
male             97
female           16
males             4
child             3
boy               3
...             ...
Markus Groh       1
Thomas Larkin     1
Mark Lemelin      1
Peter Edmonds     1
Alexey Drury      1

[1536 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna sex_ tenemos los siguientes valores unicos
     sex_
M    1435
F     222
lli     1

 ------------------------------------------------------------

------------------------------------------------------------

En la columna age tenemos los siguientes valores unicos
          age
19         70
18         60
20         58
15         57
17         57
...       ...
74          1
40s         1
60s         1
13 or 14    1
9 or 10     1

[94 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna time tenemos los siguientes valores unicos
                     time
11h00                  74
Afternoon              69
16h00                  53
15h00                  51
Morning                50
...                   ...
23h00                   1
Just before sundown     1
"Evening"               1
12h39                   1
Before 10h30            1

[248 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna species_ tenemos los siguientes valores unicos
                                                  species_
White shark                                             76
Tiger shark                                             37
4' shark                                                34
Bull shark                                              32
Shark involvement not confirmed                         26
...                                                    ...
14' to 16' white shark                                   1
juvenile white shark                                     1
Possibly a sandbar shark or small blacktip shark         1
[4.5' to 5'] shark                                       1
Identified as C. gangeticus by Dr. J. Fayrer             1

[856 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna href tenemos los siguientes valores unicos
                                                    href
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
...                                                  ...
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1

[1672 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna fatal_(y/n) tenemos los siguientes valores unicos
         fatal_(y/n)
N               1256
Y                317
UNKNOWN            8
 N                 2
M                  1
2017               1

 ------------------------------------------------------------

------------------------------------------------------------

En la columna injury tenemos los siguientes valores unicos
                                                    injury
FATAL                                                  154
Foot bitten                                             28
Leg bitten                                              20
Left foot bitten                                        17
No injury, board bitten                                 17
...                                                    ...
Foot injured. Shark involvment uncomfirmed               1
Lacerations to right thigh & left foot                   1
Lacerations to thumb, ring and pinky fingers of...       1
6 to 8 puncture wounds to right hand                     1
FATAL, upper left thigh, groin & buttocks sever...       1

[1173 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna date tenemos los siguientes valores unicos
                      date
No date                  6
No date, Before 1963     5
Before 1906              4
Before 1958              4
12-Apr-2001              3
...                    ...
07-Nov-2007              1
10-Dec-2007              1
14-Dec-2007              1
18-Dec-2007              1
13-May-1868              1

[1522 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna mes_ataque tenemos los siguientes valores unicos
      mes_ataque
Aug          162
Sep          154
Jul          148
Oct          148
Jun          137
Jan          129
Apr          126
May          107
Mar          107
Dec          104
Nov           99
Feb           97
941            5
896            1
880            1
943            1
940            1
900            1
883            1
845            1
951            1

 ------------------------------------------------------------

------------------------------------------------------------

En la columna fatal tenemos los siguientes valores unicos
   fatal
N   1258
Y    317

 ------------------------------------------------------------

------------------------------------------------------------

En la columna sexo tenemos los siguientes valores unicos
   sexo
M  1435
F   223

 ------------------------------------------------------------

In [52]:
## bonus pendiente --> pd.DataFrame(df_2['variable']= df.columns)

---

**Conclusiones**

De qué nos sirven estos números y dataframe? Extraed conclusiones de ellos.
Por ejemplo:

- ¿Hay alguna columna que no tenga sentido su tipo de datos?

    - La columna 'year' debería ser de tipo date en vez de tipo float
    - La columna 'mes_ataque' es de tipo object y podría ser de tipo date

- ¿Hay alguna columna que no tenga sentido su nombre?

    - La columna 'href' podría tener un nombre más intuitivo

- ¿Hay alguna columna que no tenga sentido su contenido?

- ¿Hay alguna columna que tenga demasiadas categorías o valores que nos pueda hacer difícil trabajar con ella?

In [55]:
# guardamos el df

df.to_csv('../files/attacks7.csv')