## PAIR PROGRAMMING LIMPIEZA II

### Strings
---

In [92]:
import pandas as pd
import numpy as np
import re
pd.options.display.max_columns = None

**Preguntas:**

- ¿Es Australia es el sitio más peligroso y letal para estar relajada en la playa?
- ¿Cuál es el rango de edad que sufre la mayoría de los ataques?
- Independientemente de la edad, sufren los hombres más ataques que las mujeres?
- ¿En qué mes ocurren más ataques?
- ¿Cuál es la relación entre la especie y el tipo de ataque (si es fatal o no)?
- ¿Cómo han evolucionado los ataques a lo largo del tiempo?


¿Está limpia?
- age ❌      esta en formato string cuando debería ser integer y en algunos casos tenemos rangos de edad
- species ❌  es un jaleo! Debemos unificar los nombres y reducir a las especies más importantes
- country ✔️   los paises están en mayúsculas, algunos se repiten con algunos cambios
- fatal ✔️     la limpiamos en el pair de Pandas V
- year ✔️      es una columna de tipo float deberíamos convertirla a integer
- sex ✔️       la limpiamos en el pair de Pandas V
- fecha ✔️     la limpiamos en el pair de Pandas V
​

In [93]:
df= pd.read_pickle("../files/attacks8.pkl")
df.head(2)

,case_number,year,type,country,activity,age,species_,date,mes_ataque,fatal,sexo
0,1800.00.00,1800,Unprovoked,seychelles,a corsair's boat was overturned,NaN,NaN,1800,NaN,Y,F
1,1797.05.28.R,1797,Unprovoked,NaN,Dropped overboard,NaN,NaN,Reported May-28-1797,May,Y,NaN

**EJERCICIO 1**

Columna de species: si exploramos esta columna en detalle nos podemos dar cuenta que tenemos muchos valores únicos y esto hace que sea muy difícil trabajar con esta columna. 

Lo que vamos a hacer es clasificar los tiburones en 5 especies diferentes, las más comunes, que incluyen el tiburón blanco (White), el tiburón tigre (Tiger ), el tiburón gris (Grey), el tiburón limón (Lemon) y el tiburón toro (Bull). El resto de las especies las incluiremos en un único grupo que podremos llamar "Unspecified". 

Los valores de las columnas son strings por lo que podremos usar regex para buscar palabras clave en cada celda y asignarlo a una de las categorías que hemos definido previamente.

Imaginemos que el valor de una celda es el siguiente
​
'White shark, 3.5 m'
​
Tendremos que buscar el patrón de regex que nos permita extraer White shark de ese string y que nos devuelva solo White shark. 

Un patrón que podriamos usar es: 
​
patron_blanco = ```r".*[Ww](hite|HITE).*"``` # esto podría ser así porque puede estar en mayúsculas o en minúsculas. 
​
De la misma forma que hemos sacado el patron para el tiburón blanco, tendremos que sacar los patrones para las otras 4 especies que queremos "encontrar". 

Tendremos que crearnos una función que aplicaremos sobre nuestra columna species_ para que nos devuelva una nueva columna con los valores clasificados en función de los patrones de regex que hayamos definido.

In [94]:
list(df['species_'].unique())

[nan,
 'Tiger shark?',
 'White sharks',
 'Description of shark does not ring true',
 '"The fish was harpooned, dried, and presented to the sailor, who went round Europe exhibiting it  It was said to be 20 feet long.',
 'Shark involvement prior to death unconfirmed',
 'White shark, 1600-lb female ',
 'White shark',
 'Questionable',
 'Possibly white sharks',
 " Galapagos shark, 6'",
 'Basking shark',
 "Blacktip shark, 5'",
 'said to involve 2.5 m hammerhead sharks',
 'Whale shark',
 'Tiger shark',
 "1.8 m [6'] shark",
 'Silvertip shark',
 'A large hammerhead shark',
 'Bull shark',
 "Nurse shark, 2.1 m [7'] ",
 'Shovelnose guitarfish, adult male ',
 'Invalid',
 "0.9 m [3'] shark",
 '"A pack of sharks"',
 "White shark, 7' to 8'",
 'White shark, 1,900-lb ',
 "Nurse shark, 2.1 m [7']",
 "Bull shark caught, leg recovered & buried beside the man's body",
 "1.2 m [4'] shark",
 '"a black-tipped shark"',
 "6' shark",
 "12' tiger shark",
 'Blue pointer',
 'Blue pointers',
 'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable',
 "Bull shark, 6'",
 'Grey reef shark',
 'Invalid incident',
 '3 m shark',
 'White shark, 2.5 m',
 "Tiger shark, 12'",
 'Wobbegong shark',
 '3.5 m shark',
 '1.8 m shark',
 'Juvenile white shark,  2.7 to 3.2 m',
 'Bull shark, 2 m',
 'small shark',
 'White shark, 4.6 m',
 '2 m shark',
 'Wobbegong shark, 1 m',
 'White shark, 4.5 m',
 'Tiger shark, 8 to 10 feet',
 "8' shark",
 "5' to 6' shark",
 'White shark, 3 to 3.5m ',
 'White shark, 3 m',
 'Shark involvement questionable',
 "White shark, 5' to 7'",
 'Possibly a juvenile blacktip shark',
 "4' shark",
 'A small shark',
 "White shark, 11' to 13'",
 "White shark, 8' to 10'",
 "Bull shark, 4' to 5'",
 'White shark, 4 m',
 'Shark involvement highly doubtful',
 "Bull shark, 5' to 7'",
 'Bull shark, 4 m',
 'Bull shark, 1 m',
 'Shark involvement not confirmed',
 'Wobbegong shark, 2m',
 'Broadnose sevengill shark, 1.5 m',
 " 6' to 8' shark",
 'White shark, 3.5 m',
 "3' to 4' shark",
 "Tiger shark, 10'",
 "Tiger shark, 10' ",
 'Blue shark',
 'reef shark, 1m',
 "White shark, 10' to 12'",
 'dogfish shark',
 'Tawny nurse shark',
 "3' to 5' shark",
 "3' shark",
 "Said to involve an 8' shark but more likely damage caused by debris",
 '3+ m shark',
 'Mako shark',
 "5' shark",
 "Blacktip shark, 4'",
 "Nurse shark, 2'",
 "Mako shark, 1.5 m [5'] ",
 'Grey reef shark, 2 m',
 'Tiger shark, 2.5 m',
 "Tiger shark, 14'",
 'Blacktip shark',
 "9' shark",
 "Bronze whaler shark, 6'",
 'Galapagos shark',
 'Bull shark, 2.8 to 3.1 m',
 "Spinner shark, 5'",
 'No shark involvement',
 "Tiger shark, 7'",
 "Tiger shark, 13' ",
 "4' to 5' shark",
 "Blacktip shark, 4' to 5'",
 "Blacktip shark, 5' to 6'",
 'juvenile shark',
 "Tiger shark, 13'",
 "White shark, 11' to 12'",
 'Hammerhead shark.',
 "White shark, 10' to 12' ",
 "White shark, 13'",
 "Hammerhead shark. 6' to 7'",
 "Blacktip or spinner shark, 4'",
 "Thought to involve a 3' to 4' shark, but shark involvement not confirmed",
 'White shark, 3.9 to 4.2 m',
 "White shark, 7'",
 "6' to 7' shark",
 'White shark, 2m to 3 m',
 'Sandtiger shark',
 "Bull shark, 5'",
 'Bull shark, 2.5 m',
 '1m to 1.2 m shark',
 '3- to 4-foot shark',
 'White shark, 6 m',
 'Tiger shark, 8 to 12 feet',
 'Tiger shark, 3.5 m',
 '3.5 to 4 m shark',
 '2 m to  3 m shark',
 'Bull shark, 1.3 m',
 'White shark or oceanic whitetip shark',
 'Raggedtooth shark, 1.3 m',
 'White shark, 4 to 5 m',
 '1.5 m shark',
 "2' shark",
 '1 m shark',
 "8' to 10' shark",
 '2 white shark: 13\' & 9"8"',
 "7' shark",
 "White shark, 12' to 14'",
 'Spinner shark',
 " Bull shark, 5'",
 "4' tp 5' shark",
 "6' to 8' shark",
 " Sandbar shark, 3' to 4'",
 'Bronze whaler shark, 1.5m',
 " white shark, 15' ",
 '3 m to 4 m white shark',
 'Shark involvement prior to death not confirmed',
 'Blacktip reef shark ',
 '7-gill shark?',
 'Reported to involve a bull shark',
 'White shark, 3m ',
 "Tiger shark, 10' to 12'",
 "4' to 6' shark",
 ' Wobbegong shark, 1.6 to 1.8m ',
 'Tiger shark, 3m ',
 'Thought to involve a white shark',
 "White shark, 10 '",
 'Blacktip reef shark, 1m',
 'Thought to involve a bull shark',
 "Whitetip reef shark, 4' to 6'",
 'Nurse shark?',
 "Bull shark, 8'",
 "Bull shark, 6' to 8'",
 "Tiger shark, 8' to 10' ",
 'Nurse shark',
 'a small shark',
 'Grey nurse shark, 3m',
 'Possibly a blacktip reef shark',
 'Raggedtooth shark, 1.5 m',
 'Tiger shark, 4.8 m',
 'Bronze whaler shark, 2.5m',
 'White shark, 4m',
 'Lemon shark',
 "Tiger shark, 15'",
 '2.5 m shark',
 'Bull shark, 2m ',
 "Tiger shark, 6'",
 "10' shark",
 "2' to 3' shark",
 "Tiger shark, 8'",
 "Tiger shark, 10' to 12' ",
 "White shark, 15' to 16' ",
 '2m shark',
 "3.5' to 4' shark",
 "Lemon shark, 4' to 5' ",
 'White shark or bronze whaler',
 'White shark, 5m',
 "14' to 18'shark",
 "15' shark",
 'possibly a bull shark',
 'a small reef shark',
 'small blacktip shark?',
 'Blacktip shark ',
 'Blue shark, 2.5m',
 'White shark, 2 m',
 '18" to 24" shark',
 'Bull shark, 3m',
 'White shark, 4 m to 5m ',
 "Tiger shark, 10'  ",
 'White shark, 4m ',
 'Possibly a bull shark',
 "Possibly a 5' to 6' bull shark",
 'Tawny nurse shark, 40cm',
 'Tiger shark, 3m',
 'White shark, 2.7 m',
 'Allegedly a 4 m tiger shark',
 'White shark, 2.5m',
 'Wobbegong shark?',
 "White shark, 10'",
 'Port Jackson shark, 1m',
 'Tiger shark, 2m',
 "6' shark, possibly a blactip or spinner shark",
 "White shark, >6'",
 "Possibly a 5' to 6' sandtiger shark",
 '4 m shark',
 'Grey reef shark ',
 'White shark, 3m to 4m',
 'Bull shark, 3m female',
 'Zambesi shark',
 ' Tiger shark, 2.8m',
 'reef shark, 1.5m',
 "1' to 2' shark",
 'possibly a bronze whaler shark',
 'Bull shark, 2.5m',
 '3 m to 4 m shark',
 'Bull shark, 2m',
 'White shark x 2',
 'Caribbean reef shark',
 'Oceanic whitetip shark, 2.5m ',
 'Mako shark ',
 'Oceanic whitetip shark, 2.5m, female',
 "Porbeagle shark, 8' ",
 "White shark, 14' to 18' ",
 'Bull shark, 1.4m ',
 'Possibly a small blacktip shark',
 "Sandtiger shark, 4' to 5'",
 'Angel shark',
 "Blue shark, 7'",
 "Lemon shark, 4'",
 '20 to 30kg shark',
 "Lemon shark, 6'",
 "14' shark",
 "Oceanic whitetip shark, 6'",
 'Wobbegong shark, 1.6m',
 'Zambesi shark, 2m ',
 "Sandtiger shark, 8'",
 'Thresher shark',
 'Spurdog',
 "White shark, 5' to 6' juvenile ",
 'Bull shark?',
 "Nurse shark, 6'",
 'Thought to involve a Bronze whale shark, 2m',
 'Shark involvement probable, but not confirmed',
 'Oceanic whitetip shark, 2.5 to 3m',
 '80 kg shark',
 'blacktip or spinner shark',
 'Bronze whaler shark?',
 'Thought to involve a cookie cutter shark',
 'Blue shark, 1m',
 '2.6 m shark',
 'White shark, 2.5m ',
 'Bull shark, 2.7 m ',
 "White shark, 12' ",
 'Dusky shark, 2m',
 'White shark, 3.5m',
 'Broadnose sevengill shark',
 'White shark, 4m to 5m ',
 '4 to 5m white shark',
 'Raggedtooth shark, 2m',
 '5 m white shark',
 "+3' shark",
 'Bronze whaler shark',
 "8' bull shark or Caribbean reef shark",
 "8' white shark or 7-gill shark",
 'White shark, 2m',
 "4.5 to 5' shark",
 "White shark, 15'",
 '2 small bull sharks',
 'Bull shark, 1.8m',
 "White shark, 12' to 15'",
 'Reported by media as shark attack, but shark involvement prior to death was not confirmed',
 'Shark involvement not confirmed; thought to be a barracuda bite',
 "1.5' to 2' shark",
 "2.5' shark",
 'A bull shark, according to some of the divers on the boat',
 'Mako shark, 90kg',
 'Not a shark attack; it was a hoax',
 '1.5 to 2 m shark',
 'Oceanic whitetip sharks were in the vicinity',
 "9.5' shark?",
 "Nurse shark, 2' to 3' ",
 'Possibly a spinner shark',
 "White shark, 12'",
 "Possibly a 6' bull shark",
 ' ',
 "Possibly a 10' bull shark",
 'Bronze whaler shark, 1.5 m ',
 "Bull shark, 5' ",
 'A 10-year-old 94-pound pregnant blacktip reef shark',
 'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length',
 'Shark involvement prior to death was not confirmed',
 "Tiger shark, 14' ",
 '"a small shark"',
 '2 to 2.5 m shark',
 'White shark, 3m',
 '24" to 30" shark',
 "6' to 8' shark, possibly a tiger shark",
 '2.5 to 3 m shark',
 '2 to 3 m shark',
 "White shark, 12' to 15' ",
 'Raggedtooth shark, 150-kg',
 'White shark, 5m ',
 '2 m to 3 m shark',
 "White shark, 16' ",
 "3' to 3.5' shark",
 'White shark?',
 'Angel shark, 1.2m ',
 "5' to 6' spinner or bull shark",
 "Possibly a 1' to 3' blacktip or spinner shark",
 "14' white shark",
 "Tiger shark, 8' to 12'",
 "Grey reef shark, 5' to 8' ",
 'Wobbegong shark, 2 m ',
 "Bull shark, 4' to bull shark",
 'Bronze whaler shark, a  juvenile ',
 'Raggedtooth shark, 2.5 m to 3 m ',
 "Tiger shark, 5' ",
 'Bronze whaler shark, 2 m',
 "5' to 7' shark",
 'Raggedtooth shark',
 "12' to 18' shark",
 '3.5 m white shark',
 'Whitetip reef shark',
 'Raggedtooth shark, 2.5m ',
 "12' to 14' white shark",
 "18' white shark",
 "Tiger shark, less than 10'",
 'Caribbean reef sharks',
 "14' to 16' white shark",
 "4 m [13'] white shark",
 'juvenile white shark',
 'Possibly a sandbar shark or small blacktip shark',
 "[4.5' to 5'] shark",
 "[4' to 5']",
 "1.8 m [6'] bull shark",
 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
 'Unknown, but it was reported that a shark tooth was recovered from the wound',
 "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident",
 '"small shark"',
 "Tiger shark, 3 m [10']",
 "4 m [13'] shark",
 "6 m [20'] white shark",
 "Sandtiger shark, 2.1 m [7'] ",
 '4.5 m & 5 m white shark ',
 "5.5 m [18'] white shark",
 "2.5 m [8.25'] bull shark",
 "2 m [6.75'] white shark",
 "Bronze whaler shark, 2.4 m [8'] ",
 "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ",
 "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
 'Thought to involve a 2.5 m bull or tiger shark',
 "2.4 m [8'] shark",
 'Tiger shark, 1.5 m ',
 "4.9 m to 5.5 m [16' to 18'] white shark",
 "1.2 m to 1.5 m [4' to 5'] shark",
 '2 sharks, 4.5 m & 3 m ',
 '9\'2" white shark',
 "Bronze whaler shark, 2.5 m [8.25'] ",
 "0.9 m to 1.5 m [3' to 5'] shark",
 "2.4 m to 3.7 m [8' to 12'] shark",
 "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
 "Mako shark, 1.8 m [6']",
 "5 m [16.5'] white shark",
 "1.2 m [4'] bull shark",
 'bull shark',
 "Tiger shark, 2.4 m to 3 m [8' to 10'] ",
 "2 m [6.75'] sevengill  shark",
 "4 m to 5 m [13' to 16.5'] white shark",
 'Bull shark, 132-kg [291-lb] ',
 "Tiger shark, 4 m [13']  ?",
 "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
 '1.2 m [4\'] "grey-colored shark"',
 'Shark involvement doubtful',
 "4.5 m to 5.5 m [15' to 18'] white shark",
 "3.5 m [11.5'] white shark",
 'Unidentified species',
 "2.1 m  [7'] bull shark",
 "106 cm [3.5']  shark",
 'Â\x93small brown sharkÂ\x94',
 "3.7 m to 4.3 m [12' to 14'] shark",
 '"sand shark"',
 "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
 "0.9 m to 1.2 m [3' to 4'] shark",
 'A Â\x93smallÂ\x94 shark',
 '15 cm to 20 cm [6" to 8"] bite diameter just below left knee',
 "Mako shark, 3 m [10']",
 "2.5 m [8.25'] white shark",
 'Species unidentified',
 "Thought to involve a 2 m [6.75'] grey nurse shark",
 "Thought to involve a >2 m [6.75'] bull shark",
 'White shark, 4 m white shark',
 "3 m to 4.5 m [10' to 15'] white shark",
 "2.4 m to 3 m [8' to 10'] grey colored shark",
 "1.8 m to 2.1 m [6' to 7']Â\xa0 Caribbean Reef Shark ",
 'Possibly a bull shark or tiger shark',
 'Blacktip or spinner shark',
 "3.5' to 4.5' shark",
 "1.2 m [4'] blacktip shark",
 "1.8 m [6'] blacktip shark",
 "Tiger shark, 1.5 m [5']k",
 "3 m to 3.7 m [10' to 12'] shark",
 'Bull or tiger shark',
 "1' to 2' hammerhead or bonnethed shark",
 "0.9 m  to 1.2 m [3' to 4'] shark",
 "Nurse shark, 1.5 m [5'] ",
 "1.2 m [4'] blacktip or sandbar shark",
 "Bull shark, 1.8 m to 2.1 m [6' to 7'] ",
 'Mako shark, 400-lb ',
 "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
 "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
 'Â\xa0 ',
 "1.5 to 2.5 m [5' to 8.25'] copper shark",
 "3.7 m to 4.3 m [12' to 14'] white shark",
 '1 m  shark',
 "3' blacktip shark",
 "White shark, 6m [20']",
 'Bull shark, 400-lb ',
 "3'  shark",
 'Nurse shark, 1m ',
 "Spinner shark, 3' to 4' ",
 '1.5 m [5\'] "whaler shark"',
 'C. leucas tooth fragment recovered from kayak',
 'Zambesi shark?',
 'Unidentified',
 "Tiger shark, 1.8 m [6'] ",
 "Tiger shark, 1.8 m [6']",
 'Questionable incident - shark bite may have precipitated drowning',
 "2' to 3.5' shark",
 'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
 "1.5 m [5'] shark",
 "3 m [10'] bull shark",
 'Possibly  a blacktip or spinner shark',
 "3' shark, possibly  a blacktip or spinner shark",
 "Blacktip shark, 5' to 6' ",
 "1.9 m [6.5'] bull shark",
 "0.9 m  [3'] shark",
 "Bull shark, 2.3 m [7.5'] ",
 "White shark, 2.4 m to 3 m [8' to 10'] ",
 'Possibly a juvenile blacktip or spinner shark',
 "Possibly a 1.5 m [5'] blacktip or spinner shark",
 "White shark, 2.7 m [9'] ",
 "Bronze whaler shark, 2.5 m [8.25']  k",
 "6 m [20'] shark",
 "1.2 m to 1.8 m [4' to 6'] shark",
 "White shark, 4.9 m [16'] ",
 "White shark, 5 m [16.5'] ",
 "Tiger shark, 1.8 m to 2.4 m [6' to 8'] ",
 "2.1 to 2.4 m [7' to 8'] shark",
 "Blacktip shark, 2' ",
 "White shark, 4 m to 5 m [13' to 16.5'] ",
 'White shark, 2.5 m ',
 "60 cm to 90 cm [2' to 3'] shark",
 "White shark, 3.5 m [11.5']  male ",
 "Tiger shark, 3 m [10'] ",
 "A 2' shark was seen in the area by witnesses",
 "Thought to involve a 2.7 m [9'], 400-lb bull shark",
 'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ',
 "Blacktip shark, 2.4 m to 3 m [8' to 10'] ",
 "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?",
 "Nurse shark, 1.2 m [4'] ",
 "0.9 m [3'] shark,  probably a blacktip or spinner shark",
 "Blacktip shark, 1.2 m to 1.8 m [4' to 6'] ",
 "Shortfin mako shark, 3 m to 3.4 m [10' to 11'] ",
 '1.3 to 1.6 m shark',
 "2.7 m [9']  bull shark or Caribbean reef shark",
 "White shark, 3 m to 5 m [10' to 16.5'] ",
 "Bull shark, 2.1 m [7']",
 "Blacktip shark, 1.8 m [6'] ",
 "White shark, 4 m [13'] ",
 "Tiger shark, 2.5 m [8.25']",
 'Grey reef shark, 1.5 m ',
 '3 bull sharks',
 "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity",
 'Bronze whaler or tiger shark',
 "White shark, 4.6 m [15'] ",
 'Possibly a white shark',
 'A "small shark"',
 'Though to involve a white shark',
 "White shark, 5 m to 6 m [16.5' to 20'] ",
 "Caribbean reef shark, 1.2 m to 1.5 m [4' to 5'] ",
 "White shark, 4.9 m [16']",
 'Thought to involve a 5.5 m white shark named Kong',
 "3 m to 4 m [10' to 13'] white shark",
 "Lemon shark, 1.5 m [5'], identified  by the surfer",
 "1.8 m [6'] shark, possibly a blacktip",
 "3 m [10'] shark",
 "3 m [10'] white shark",
 "5' spinner shark",
 'Small dusky shark or blackfin shark',
 "Tiger shark, 4 m to 4.3 m [13' to 14'] ",
 'Possibly a blacktip shark',
 '"juvenile shark"',
 '4.5 m white shark',
 "Tiger shark, 2.7m  [9']",
 "1.2 m [4'] shark (spinner shark?)",
 'Possibly a sand shark',
 'Tiger shark, 2m to 3m ',
 "1.8 m to 2.1 m [6' to 7'] shark",
 'Tiger shark, 4.5 m [14\'9"]',
 "3 m to 5 m [10' to 16.5'] white shark",
 "5.5 m to 6 m [18' to 20'] white shark",
 '"a young shark"',
 "Tiger shark, 2.4 m [8'] ",
 "1.8 m to 2.1 m [6' to 7'] hammerhead shark",
 "2.5 m [8.25'] white shark ",
 "60 cm to 90 cm [2' to 3'] blacktip or spinner shark",
 '"reef shark"',
 'Possibly a tiger shark',
 'Tiger shark, 300-kg [662-lb] ',
 "1.2 m to 1.5 m [4' to 5']   shark",
 "1.5 to 1.8 m [5' to 6'] shark",
 '"sand" shark',
 "Tiger shark, 3.7 m [12'] ",
 'Bronze whaler shark, 2 m ',
 "5 m to 5.5 m [16.5' to 18'] white shark",
 "2.7 m [9'] shark",
 'Thought to involve a small sand shark',
 'Small shark',
 "3 to 3.5 m [10' to 11.5'] bull shark",
 "1.2 m [4'] spinner shark",
 ">1.8 m [6'] shark",
 '1.3 m [4\'3"] shark',
 'Tiger shark caught 6 days later with diverÂ\x92s remains in its gut',
 ">6 m [20'] white shark",
 "1.8 m [6'] blacktip shark or Caribbean reef shark",
 "5.5 m to 6 m [18' to 20']  white shark",
 "1.8 m to 2.4 m [6' to 8'] shark, tooth fragments recovered ",
 'Thought to involve a tiger shark',
 "Remains recovered from 5.5 m [18'] white shark",
 "Tiger shark, 3.7 m [12'], (tooth fragment recovered from wound)",
 "Tiger shark, 2.4 m [8']",
 "Tiger shark, 3 m to 4.9 m [10' to 16'] ",
 "Mako shark, 1.8 m [6']  ",
 "6' to 7' blacktip shark",
 '5 m to 6 m white shark',
 'Unidentified shark',
 "Tiger shark, 3 m to 3.7 m [10' to 12'] ",
 "Tiger shark, 4.3 m [14'] ",
 '4.2 m white shark',
 "4 m to 5 m [13' to 16.5']  white shark ",
 '4 m white shark',
 'Bull shark or lemon shark',
 '>2 m shark',
 "5 m [16.5'] white shark, identification by K. Nakaya",
 "Said to involve a 6 m to 7 m [20' to 23'] white shark",
 'Questionable incident',
 "Bronze whaler shark, 2.3 m [7.5'] ",
 "Zambesi shark, 1.7 m [5.5'] ",
 "Possibly a 1.5 m [5'] blacktip shark",
 "Tiger shark, 2.4 m 3.4 m [8' to 11']  ",
 "5 m to 6 m [16.5' to 20'] white shark",
 "3 m [10'], 270- kg [595-lb] shark",
 'sand shark',
 "Tiger shark, 3 to 4 m [10' to 13'] ",
 "2.7 m [9'] bull or lemon shark",
 "Tiger shark, >3 m [10']",
 "1.8 m [6'] shark ",
 "4' spinner shark",
 "1.8 m to 2.4 m [6' to 8'] shark",
 "5 m  [16.5'] white shark",
 "2.5 m to 3 m [8.25' to 10']  white shark",
 '4.5 m [14\'9"] white shark',
 "5.5 m [18'] white shark, identified by witnesses & tooth marks",
 "2.3 m [7.5'] white shark, identified by M. Smale",
 'Tiger shark, 3 m ',
 "2.7 m [9'] white shark",
 'Shark involvement suspected but not confirmed',
 'White shark, identified by tooth pattern',
 '150-lb shark',
 "4 m to 5 m [13' to 16.5']  white shark",
 'Grey nurse shark',
 ">3.4 m [11'] white shark",
 "Bronze whaler shark, 3 m [10'] ",
 "Tiger shark, 4 m [13'] ",
 "2.4 m to 3 m [8' to 10'] white shark",
 'Sand shark?',
 "1.5 m to 2 m [5' to 6.75'] shark",
 '1 m "grey-colored" shark',
 'Zambezi shark (tooth fragments recovered)',
 '1.5 m copper shark',
 "2 m [6.75'] shark",
 "3.5 m [11.5']  white shark",
 '5.7 m white shark',
 '4.3 m shark',
 ">2.5 m [8.25'] white shark",
 "1.8 m to 2.1 m [6' to 7'] spinner or blacktip shark",
 "Lemon shark, 1.8 m to 2.4 m [6' to 8'], tooth fragment recovered",
 '1.6 m shark',
 "1.2 m [4'] dusky shark",
 '>1 m shark',
 ">2.4 m [8'] white shark",
 "Raggedtooth shark, 2 m [6.75'] ",
 'Bronze whaler shark, 3.5 m ',
 "2 m to 2.5 m [6.75'  to 8.25'] sixgill or sevengill shark",
 'Possibly a small hammerhead shark',
 '3 m to 3.6 m  [10\' to 11\'9"] white shark',
 '3.5 m white shark, tooth fragments recovered',
 "1.5 m [5'] dusky shark",
 'Tiger shark, 4 m ',
 'Shark involvement not confirmed; officials considered barracua',
 'Hammerhead shark?+O2356',
 '4.5 m to 5 m white shark',
 "2.4 m [8'] white shark",
 "1.2 m to 1.5 m [4' to 5'] hammerhead shark",
 " 1.5 m [5'] dusky shark",
 'Raggedtooth shark, 1 m ',
 'Raggedtooth shark, >1 m ',
 'Sand shark',
 "6' to 8' bull shark",
 "Tiger shark, 5 m [16.5']",
 "3.5' hammerhead shark",
 "Raggedtooth shark, 1.5 m [5'] (tooth fragment recovered)",
 "1.8 m [6'] Zambezi shark",
 'Believed to involve a 2.8 m [9\'3"] white shark',
 'Questionable incident; reported as shark attack but thought to involve a pinniped instead ',
 "2.4 m [8'] white shark, species identity confirmed by tooth fragment",
 "4.5 m to 5.5 m [14.7' to 18'] white shark",
 "2.4 m [8'] white shark, species identity confirmed by witnesses & tooth pattern in surfboard",
 "7 m [23'] white shark",
 'Said to involve a tiger shark or a hammerhead shark',
 'Mako shark (tooth fragments recovered)',
 "Possibly a  1.8 m [6'] Zambezi shark",
 '6 m  white shark',
 "Raggedtooth shark, 2.5 m [8.25'] ",
 "Tiger shark, 2.1 m [7']",
 "1.2 m to 1.5 m [4' to 5'] bull, sandbar or dusky shark",
 'C. maculpinnis or C. limbatus',
 'Juvenile dusky or blacktip shark',
 "1.8 m to 2.4 m [6' to 8'] hammerhead shark",
 'Tiger shark, 2.5 m ',
 "3.5 m [11.5'] shark",
 "1.8 m [6'] white shark",

In [95]:
def especies(x):

    ''' Función para categorizar las especies de tiburones.
        Parámetros: valores de la columna seleccionada.
        Return: 5 tipos de tiburón o Unspecified y mantiene los valores nulos'''

    dict = {"White": ".*[Ww](hite|HITE).*", 
            "Tiger":".*[Tt](iger|IGER).*", 
            "Grey": ".*[Gg](rey|REY).*", 
            "Lemon": ".*[Ll](emon|EMON).*",
            "Bull": ".*[Bb](ull|ULL).*",
            "Unspecified": ".*"}

    try:
        for k,v in dict.items(): 
            if re.findall(v,x):           
                return k
               
    except:
        return np.nan

In [96]:
# Aplicamos la función a la columna species_ y lo comprobamos 
df["cat_species"] = df["species_"].apply(especies) 
df.head(2)

,case_number,year,type,country,activity,age,species_,date,mes_ataque,fatal,sexo,cat_species
0,1800.00.00,1800,Unprovoked,seychelles,a corsair's boat was overturned,NaN,NaN,1800,NaN,Y,F,NaN
1,1797.05.28.R,1797,Unprovoked,NaN,Dropped overboard,NaN,NaN,Reported May-28-1797,May,Y,NaN,NaN

In [97]:
# Comprobamos las categorias
df['cat_species'].value_counts()

Unspecified    858
White          386
Tiger          157
Bull           104
Grey            30
Lemon           11
Name: cat_species, dtype: int64

In [98]:
# Comprobamos que mantenemos los valores nulos
df['cat_species'].isnull().sum()

126

In [99]:
# Borramos la columna y nos quedamos con la misma información mejor categorizada
df.drop(["species_"], axis=1, inplace=True)

In [100]:
df.head()

,case_number,year,type,country,activity,age,date,mes_ataque,fatal,sexo,cat_species
0,1800.00.00,1800,Unprovoked,seychelles,a corsair's boat was overturned,NaN,1800,NaN,Y,F,NaN
1,1797.05.28.R,1797,Unprovoked,NaN,Dropped overboard,NaN,Reported May-28-1797,May,Y,NaN,NaN
2,1792.09.12,1792,Provoked,england,Fishing,NaN,12-Sep-1792,Sep,Y,M,NaN
3,1791.00.00,1791,Unprovoked,australia,NaN,NaN,1791,NaN,Y,F,NaN
4,1788.05.10,1788,Boat,australia,Fishing,NaN,10-May-1788,May,N,NaN,NaN

---

**EJERCICIO 2**

Columna de age: es una columna de tipo string pero debería ser de tipo integer. Además, en esta columna nos vamos a encontrar con algunos errores tipográficos, estos incluyen:

- Edad en formato string
- Edades separadas por &, or, to, >
- Edades con ?


Primero tendremos que eliminar todos esos símbolos especiales que nos aparecen. De nuevo, podremos usar regex para extraer unicamente los números que es lo que nos interesa. Usar este regex en una función para sacar solo los números.

Puede que os salga un error similar a este:
```python 
TypeError: expected string or bytes-like object
```
Para solucionar este problema, antes de nada tendréis que ejecutar este código para que no os de error:

df['nombre_columna'] = df['nombre_columna'].astype(str)

Una vez que hayáis extraido los números, os daréis cuenta que hay celdas que tienen más de una edad. Tendréis que decidir que hacer en esos casos. Os dejamos por aquí una posible opción usando un método de Pandas que os puede resultar super útil. El método .explode, 

Por último cambiad el tipo de la columna de string a integer.

In [101]:
df.head(2)

,case_number,year,type,country,activity,age,date,mes_ataque,fatal,sexo,cat_species
0,1800.00.00,1800,Unprovoked,seychelles,a corsair's boat was overturned,NaN,1800,NaN,Y,F,NaN
1,1797.05.28.R,1797,Unprovoked,NaN,Dropped overboard,NaN,Reported May-28-1797,May,Y,NaN,NaN

In [102]:
df['age'].unique()

array([nan, 'young', '14', '19', '20', '15', '21', '27', '36', '25', '6',
       '16', '50', '13 or 14', '57', '18', '32', '30', '60', '33', '10',
       '69', '55', '35', '54', '22', '31', '40', '37', '11', '13', '34',
       '46', '48', '17', '28', '65', '73', '58', '60s', '51', '61', '59',
       '42', '23', '29', '39', '24', '12', '26', '71', '43', '9', '44',
       '62', '52', '38', '68', '47', '63', '70', '41', '40s', '53', '20s',
       '7', '66', '45', '74', '64', '8', '56', '49', '18 or 20', 'Teen',
       '30s', '77', '8 or 10', '84', 'Â\xa0 ', ' ', '30 or 36', '6Â½',
       '5', ' 30', ' 28', "60's", '67', '>50', '? & 19', '21, 34,24 & 35',
       '30 & 32', '13 or 18', '7 or 8', '9 or 10'], dtype=object)

In [103]:
# Creamos un DataFrame con registros que hay en los casos en los que no tenemos una edad exacta o clara para comprobar la cantidad. 
# Razonando sobre que hacer en esos casos, pensamos que puede afectar si utilizamos el método 
# explode ya que añadiría más registros o filas influyendo en el análisis general.

df2 = df[(df['age'] == 'young') | (df['age'] ==  'Teen') | (df['age'] == 'Â\xa0 ')| (df['age'] =='21, 34,24 & 35')]
df2.head()

,case_number,year,type,country,activity,age,date,mes_ataque,fatal,sexo,cat_species
11,1779.00.00,1779,Unprovoked,usa,Surfing,young,1779,NaN,Y,M,NaN
630,2007.09.16.a,2007,Unprovoked,usa,Surfing,Teen,16-Sep-2007,Sep,N,F,Unspecified
854,2002.09.27.b,2002,Provoked,usa,Fishing,Â,27-Sep-2002,Sep,N,M,Unspecified
1510,1960.04.14,1960,Invalid,bermuda,Floating on a raft,"21, 34,24 & 35",14-Apr-1960,Apr,NaN,M,Unspecified

In [104]:
df.age.isnull().sum() # Comprobamos la cantidad de valores nulos de la columna 'age'

154

In [105]:
df.dtypes # Comprobamos que la columna 'age' es de tipo object-string

case_number    object
year            int64
type           object
country        object
activity       object
age            object
date           object
mes_ataque     object
fatal          object
sexo           object
cat_species    object
dtype: object

In [106]:
def edad(x):

       '''Función para sacar solo el número de edad de los registros con patrón de regex
          Parámetros: valores de la columna seleccionada.
          Return: el primer número de edad y los valores NaN'''

       patron_edad= '(\d*)'
       try: 
              return re.findall(patron_edad, x)[0]
       except:
              return np.nan

In [107]:
# Aplicamos la función a la columna 'age' creando una nueva, 'edades', con las nuevas categorías y lo comprobamos
df['edades'] = df['age'].apply(edad)
df.sample(2)

,case_number,year,type,country,activity,age,date,mes_ataque,fatal,sexo,cat_species,edades
1408,1965.02.04,1965,Unprovoked,usa,Scuba diving,18,04-Feb-1965,Feb,N,M,Unspecified,18
1326,1974.09.02.b,1974,Unprovoked,usa,Scuba diving (but on surface),41,02-Sep-1974,Sep,N,M,White,41

In [108]:
df['edades'].unique() # Comprobamos los valores resultantes

array([nan, '', '14', '19', '20', '15', '21', '27', '36', '25', '6', '16',
       '50', '13', '57', '18', '32', '30', '60', '33', '10', '69', '55',
       '35', '54', '22', '31', '40', '37', '11', '34', '46', '48', '17',
       '28', '65', '73', '58', '51', '61', '59', '42', '23', '29', '39',
       '24', '12', '26', '71', '43', '9', '44', '62', '52', '38', '68',
       '47', '63', '70', '41', '53', '7', '66', '45', '74', '64', '8',
       '56', '49', '77', '84', '5', '67'], dtype=object)

In [109]:
df.edades.isnull().sum() # Mantiene los mismos valores nulos

154

In [110]:
# Cambiamos el tipo de dato(object) de la columna 'edades' con el método pd.to_numeric()

df['edades'] = pd.to_numeric(df['edades'])

In [111]:
df.edades.dtypes #Comprobamos que el tipo de dato al que nos ha convertido la columna edades es de tipo float64, suponemos que es por los valores nulos

dtype('float64')

In [112]:
# Borramos la columna y nos quedamos con la misma información mejor categorizada
df.drop(["age"], axis=1, inplace=True)

In [113]:
df.head()

,case_number,year,type,country,activity,date,mes_ataque,fatal,sexo,cat_species,edades
0,1800.00.00,1800,Unprovoked,seychelles,a corsair's boat was overturned,1800,NaN,Y,F,NaN,NaN
1,1797.05.28.R,1797,Unprovoked,NaN,Dropped overboard,Reported May-28-1797,May,Y,NaN,NaN,NaN
2,1792.09.12,1792,Provoked,england,Fishing,12-Sep-1792,Sep,Y,M,NaN,NaN
3,1791.00.00,1791,Unprovoked,australia,NaN,1791,NaN,Y,F,NaN,NaN
4,1788.05.10,1788,Boat,australia,Fishing,10-May-1788,May,N,NaN,NaN,NaN

---

**EJERCICIO 3**

Guarda el archivo con las columnas limpias para seguir trabajando con este dataframe limpio.

In [114]:
df.to_pickle('../files/attacks9.pkl')