## PAIR PROGRAMMING ETL V

### ETL Carga II - Clases y Funciones BBDD e inserción
---

Igual que en el ejercicio de pair programming de ETL Transformación II, tendréis que crear una clase que nos permita cargar los datos en SQL I.

In [1]:
import pandas as pd
import mysql.connector

In [11]:
df=pd.read_csv('../files/datos_clima_attacks.csv', index_col=0)
df.head(2)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,temp2m,rh2m,weather,wind10m.direction,wind10m.speed,highcloud,midcloud,lowcloud,msl_pressure,snow_depth
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.78373,-100.445882,...,12.21875,5.40625,NaN,195.234375,2.171875,-9999.0,-9999.0,-9999.0,1020.8125,0.0
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.78373,-100.445882,...,12.21875,5.40625,NaN,195.234375,2.171875,-9999.0,-9999.0,-9999.0,1020.8125,0.0

In [12]:
class Subida_datos:

    def __init__(self, nombre_bbdd, contraseña):
        # nuestra clase va a recibir dos parámetros.
        self.nombre_bbdd = nombre_bbdd
        self.contraseña = contraseña


    def crear_bbdd(self):

        mydb = mysql.connector.connect(
         host="localhost",
        user="root",
        password=self.contraseña)
      
        print("Conexión realizada con éxito")
    
        mycursor = mydb.cursor()

        try:
            mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {self.nombre_bbdd};")
            print(mycursor)
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)



    def crear_insertar_tabla(self,query):
    
   
        cnx = mysql.connector.connect(user='root', password=f"{self.contraseña}",
                                     host='127.0.0.1', database=f"{self.nombre_bbdd}")
   
        mycursor = cnx.cursor()
    
    
        try: 
            mycursor.execute(query)
            cnx.commit() 
   
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)

In [13]:
iniciacion= Subida_datos('tiburones', 'AlumnaAdalab') # Inicializamos la clase.

In [14]:
iniciacion.crear_bbdd()# Creamos la base de datos 'tiburones'.

Conexión realizada con éxito
MySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

In [15]:
query_ataques= '''
CREATE TABLE IF NOT EXISTS `tiburones`.`ataques` (
`id_ataque` INT NOT NULL AUTO_INCREMENT,
`case_number` VARCHAR(45),
`type` VARCHAR(45),
`country` VARCHAR(45),
`activity` VARCHAR(100), 
`age` VARCHAR(45),
`species_` VARCHAR(100),
`date` VARCHAR(45),
`mes_ataque` VARCHAR(45), 
`fatal` VARCHAR(45), 
`sexo` VARCHAR(45), 
`cat_species` VARCHAR(45), 
`mes` VARCHAR(45),
`year` FLOAT , 
`edades` FLOAT,
PRIMARY KEY (`id_ataque`,`country`),
KEY idx_country (`country`))
ENGINE = InnoDB;
'''

In [16]:
query_clima= '''CREATE TABLE IF NOT EXISTS `tiburones`.`clima` (
`id_clima` INT NOT NULL AUTO_INCREMENT,
`country` VARCHAR(45) NOT NULL,
`speed950mb` FLOAT NOT NULL,
`speed900mb` FLOAT NOT NULL,
`speed850mb` FLOAT NOT NULL,
`speed800mb` FLOAT NOT NULL,
`speed750mb` FLOAT NOT NULL,
`speed700mb` FLOAT NOT NULL,
`speed650mb` FLOAT NOT NULL,
`speed600mb` FLOAT NOT NULL,
`speed550mb` FLOAT NOT NULL,
`speed500mb` FLOAT NOT NULL,
`speed450mb` FLOAT NOT NULL,
`speed400mb` FLOAT NOT NULL,
`speed350mb` FLOAT NOT NULL,
`speed300mb` FLOAT NOT NULL,
`speed250mb` FLOAT NOT NULL,
`speed200mb` FLOAT NOT NULL,
`direction950mb` FLOAT NOT NULL,
`direction900mb` FLOAT NOT NULL,
`direction850mb` FLOAT NOT NULL,
`direction800mb` FLOAT NOT NULL,
`direction750mb` FLOAT NOT NULL,
`direction700mb` FLOAT NOT NULL,
`direction650mb` FLOAT NOT NULL,
`direction600mb` FLOAT NOT NULL,
`direction550mb` FLOAT NOT NULL,
`direction500mb` FLOAT NOT NULL,
`direction450mb` FLOAT NOT NULL,
`direction400mb` FLOAT NOT NULL,
`direction350mb` FLOAT NOT NULL,
`direction300mb` FLOAT NOT NULL,
`direction250mb` FLOAT NOT NULL,
`direction200mb` FLOAT NOT NULL,
`rh_950mb` FLOAT NOT NULL,
`rh_900mb` FLOAT NOT NULL,
`rh_850mb` FLOAT NOT NULL,
`rh_800mb` FLOAT NOT NULL,
`rh_750mb` FLOAT NOT NULL,
`rh_700mb` FLOAT NOT NULL,
`rh_650mb` FLOAT NOT NULL,
`rh_600mb` FLOAT NOT NULL,
`rh_550mb` FLOAT NOT NULL,
`rh_500mb` FLOAT NOT NULL,
`rh_450mb` FLOAT NOT NULL,
`rh_400mb` FLOAT NOT NULL,
`rh_350mb` FLOAT NOT NULL,
`rh_300mb` FLOAT NOT NULL,
`rh_250mb` FLOAT NOT NULL,
`rh_200mb` FLOAT NOT NULL,
`timepoint` FLOAT NOT NULL, 
`cloudcover` FLOAT NOT NULL, 
`lifted_index` FLOAT NOT NULL, 
`prec_amount` FLOAT NOT NULL,
`temp2m` FLOAT NOT NULL, 
`rh2m` FLOAT NOT NULL, 
`weather` FLOAT NOT NULL, 
`wind10m.direction` FLOAT NOT NULL, 
`wind10m.speed` FLOAT NOT NULL,
`highcloud` FLOAT NOT NULL, 
`midcloud` FLOAT NOT NULL, 
`lowcloud` FLOAT NOT NULL, 
`msl_pressure` FLOAT NOT NULL, 
`snow_depth` FLOAT NOT NULL,
`fecha` DATE,
PRIMARY KEY (`id_clima`, `country`),
CONSTRAINT `fk_clima_ataques`
FOREIGN KEY (`country`)
REFERENCES `ataques` (`country`) ON DELETE RESTRICT ON UPDATE CASCADE)
ENGINE = InnoDB;'''

In [10]:
df.columns

Index(['case_number', 'type', 'country', 'activity', 'age', 'species_', 'date',
       'mes_ataque', 'fatal', 'sexo', 'cat_species', 'mes', 'year', 'edades',
       'speed950mb', 'speed900mb', 'speed850mb', 'speed800mb', 'speed750mb',
       'speed700mb', 'speed650mb', 'speed600mb', 'speed550mb', 'speed500mb',
       'speed450mb', 'speed400mb', 'speed350mb', 'speed300mb', 'speed250mb',
       'speed200mb', 'direction200mb', 'direction250mb', 'direction300mb',
       'direction350mb', 'direction400mb', 'direction450mb', 'direction500mb',
       'direction550mb', 'direction600mb', 'direction650mb', 'direction700mb',
       'direction750mb', 'direction800mb', 'direction850mb', 'direction900mb',
       'direction950mb', 'rh_950mb', 'rh_900mb', 'rh_850mb', 'rh_800mb',
       'rh_750mb', 'rh_700mb', 'rh_650mb', 'rh_600mb', 'rh_550mb', 'rh_500mb',
       'rh_450mb', 'rh_400mb', 'rh_350mb', 'rh_300mb', 'rh_250mb', 'rh_200mb',
       'highcloud', 'midcloud', 'lowcloud', 'msl_pressure', 'snow_depth',
       'fecha'],
      dtype='object')

In [17]:
iniciacion.crear_insertar_tabla(query_ataques)

In [18]:
iniciacion.crear_insertar_tabla(query_clima)

In [22]:
for indice, fila in df.iterrows():
    
    
            query_datos_ataques = f"""
                INSERT INTO ataques (`case_number`, `type`,`country`,`activity,age`, `species_`, `date`, `mes_ataque`, `fatal`, `sexo`, `cat_species`, `mes,year`, `edades`) 
                VALUES ( "{fila["case_number"]}", "{fila['type']}", "{fila['country']}","{fila['activity']}","{fila['age']}", "{fila['species_']}", "{fila['date']}", "{fila['mes_ataque']}", "{fila['fatal']}", "{fila['sexo']}", "{fila['cat_species']}", "{fila['mes']}", "{fila['year']}","{fila['edades']}");
                """



            iniciacion.crear_insertar_tabla(query_datos_ataques)

KeyError: 'case_number'