## PAIR PROGRAMMING ETL I

### Extracci√≥n -API's
---

In [2]:
import requests
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all"

Vamos a nutrir los datos de los ataques de los tiburones con informaci√≥n clim√°tica de los paises que tenemos. Para eso vamos a usar la API del clima que hemos aprendido en la clase invertida:

url = f'http://www.7timer.info/bin/api.pl?lon=-{lon}&lat={lat}&product={producto}&output=json'

En este caso os recomendamos que us√©is el producto meteo para obtener la informaci√≥n clim√°tica. Para hacer la llamada a la API necesitamos tambi√©n las coordenadas de los paises que tenemos en el dataset.

Por lo tanto, el objetivo es que saqu√©is la informaci√≥n del clima de la API para los paises que tenemos. Pero antes de poneros manos a la obra, tenemos much√≠simos pa√≠ses y esto puede hacerse eterno. Sacad la informaci√≥n clim√°tica solo para los siguientes pa√≠ses, con las siguientes coordenadas(imagen en gitbook)

Requisitos de este ejercicio de pair programming:
- Deber√©is meter toda la informaci√≥n clim√°tica en un √∫nico dataframe.
- Deber√©is hacer la llamada a la API de una sola vez. Es decir, tendr√©is que iterar por la lista de pa√≠ses y sacar la informaci√≥n del clima para cada uno de ellos.
- Al meter toda la informaci√≥n en un √∫nico dataframe tendremos que crear una columna que corresponda con el nombre del pa√≠s.
- Guardar el dataframe obtenido para usarlo en la siguiente sesi√≥n de pair programming.

üí° Pistas üí°:
- Crearos un diccionario donde:
    - Las keys sean los nombres de los paises
    - Los values sean las coordenadas de los paises en formato lista.

- Iterar por el diccionario. Dentro del for haremos la llamada a la API como hemos aprendido en las clases invertidas. Recordamos que para iterar por el diccionario tenemos que seguir la siguiente estructura: 
*_for key, value in diccionario.items(): 
print(key, value)_*

- Crearnos un dataframe vac√≠o donde iremos concatenando los datos obtenidos de la API cada pa√≠s.
- Guardad el csv ya que ma√±ana lo necesitaremos para hacer el ejercicio de pair programming.

In [3]:
# Creamos los direccionarios con los pa√≠ses y coordenadas
pais = ['USA', 'Australia', 'South Africa', 'New Zealand', 'Papua New Guinea']
latitud= [39.7837304, -24.7761086, -28.8166236, -41.5000831, -5.6816069]
longitud = [-100.445882, 134.755, 24.991639,172.8344077,144.2489081]

producto = 'meteo' # Especificamos el producto del que queremos extraer la informaci√≥n

In [4]:
diccionario = list(zip(pais,longitud,latitud)) # reveer si podemos sacarlo con el zip para no hacerlo de forma manual
diccionario

[('USA', -100.445882, 39.7837304),
 ('Australia', 134.755, -24.7761086),
 ('South Africa', 24.991639, -28.8166236),
 ('New Zealand', 172.8344077, -41.5000831),
 ('Papua New Guinea', 144.2489081, -5.6816069)]

In [5]:
# Hacemos un diccionario con los pa√≠ses como keys y las coordenadas como values
dicc_paises= {'usa': [-100.445882, 39.7837304],'australia': [134.755, -24.7761086],'south africa': [24.991639, -28.8166236],'new zealand': [172.8344077, -41.5000831],'papua new guinea': [144.2489081, -5.6816069]}

In [6]:
# Creamos un dataframe vac√≠o con las columnas que rellenaremos con la informaci√≥n obtenida de la API
clima_paises = pd.DataFrame( columns= ['timepoint', 'cloudcover', 'lifted_index', 'prec_type', 'prec_amount','temp2m', 'rh2m', 'weather', 'wind10m.direction', 'wind10m.speed','country'])

# Iteramos por las keys y los values del diccionario para pasarlos por la url y extraer la informaci√≥n de los cinco pa√≠ses
for key, value in dicc_paises.items(): 

    url =f'http://www.7timer.info/bin/api.pl?lon=-{dicc_paises[key][0]}&lat={dicc_paises[key][1]}&product={producto}&output=json'

    response = requests.get(url=url)
    response.status_code
    response.reason

    # Convetimos la informaci√≥n obtenida en formato json a un dataframe
    df = pd.json_normalize(response.json()['dataseries'])
    # Creamos una nueva columna para que inserte la key que corresponde al nombre del pa√≠s
    df['country']=key
    # Concatenamos los dataframes de cada pa√≠s en uno
    clima_paises=pd.concat([clima_paises,df], axis=0, ignore_index = True)

200

'OK'

200

'OK'

200

'OK'

200

'OK'

200

'OK'

In [7]:
# Comprobamos que tenemos la informaci√≥n de los cinco pa√≠ses en un dataframe
clima_paises.head()

,timepoint,cloudcover,lifted_index,prec_type,prec_amount,temp2m,rh2m,weather,wind10m.direction,wind10m.speed,country,highcloud,midcloud,lowcloud,rh_profile,wind_profile,msl_pressure,snow_depth
0,3,1,15,none,0,12,2,NaN,315,2,usa,-9999.0,-9999.0,-9999.0,"[{'layer': '950mb', 'rh': 1}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 40, 'speed': ...",1028.0,0.0
1,6,1,15,none,0,14,1,NaN,50,2,usa,-9999.0,-9999.0,-9999.0,"[{'layer': '950mb', 'rh': 1}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 325, 'speed':...",1027.0,0.0
2,9,1,15,none,0,14,3,NaN,85,2,usa,-9999.0,-9999.0,-9999.0,"[{'layer': '950mb', 'rh': 1}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 190, 'speed':...",1026.0,0.0
3,12,1,10,none,0,13,8,NaN,30,2,usa,-9999.0,-9999.0,-9999.0,"[{'layer': '950mb', 'rh': 3}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 235, 'speed':...",1026.0,0.0
4,15,1,15,none,0,13,8,NaN,5,2,usa,-9999.0,-9999.0,-9999.0,"[{'layer': '950mb', 'rh': 4}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 215, 'speed':...",1027.0,0.0

In [8]:
# Comprobamos que est√©n los cinco pa√≠ses
clima_paises['country'].unique()

array(['usa', 'australia', 'south africa', 'new zealand',
       'papua new guinea'], dtype=object)

In [11]:
print(f' El n√∫mero de filas del dataframe creado es {clima_paises.shape[0]} y el n√∫mero de columnas es {clima_paises.shape[1]}')

 El n√∫mero de filas del dataframe creado es 320 y el n√∫mero de columnas es 18

In [10]:
# Guardamos el dataframe en un archivo csv
clima_paises.to_csv('../files/clima_paises.csv')